@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --primary-color: linear-gradient(-90deg, purple, pink);
} */

html {
    font-size: 90%;
}

body {
    font-family: 'Lexend', sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
    /* // font-weight: 50; */
    /* // font-size: 1.6rem; */
    // line-height: 1.5;
    // text-rendering: optimizeSpeed;
    // font-family: 'Anton', sans-serif;
    // font-weight: 400;
    // font-style: normal;
}

.App {
    background: linear-gradient(109.6deg, #141831 5%, #3a2a62 91.1%);
}

.background {
    background: #141831;
    // background: #69259d;
    position: sticky;
    top: 0;
    z-index: 1000000;
    height: 135px;
    /* background: linear-gradient(to right, #141831, #141831); */
    /* background-image: linear-gradient(109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1%); */

    /* background: radial-gradient(circle at 30% 50%, #4f357d, #131731),
            radial-gradient(circle at 70% 50%, #3c8b24, #131731); */
}

.input-search {
    position: relative;
    // max-width: 2000px;

    .input {
        border: none;
        border-radius: 30px !important;
        padding-right: 40px;
    }

    .icon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}

.nav {
    position: relative;
    text-decoration: none;
}

.card-login {
    width: 30%;
    background: transparent !important;
    color: white !important;
    border-color: white !important;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .form-login {
        position: relative;

        .input-login {
            border-radius: 40px !important;
            background: transparent !important;
            color: white !important;
            height: 40px;
            padding-right: 50px;

            &::placeholder {
                color: rgb(255, 255, 255) !important;
                opacity: 1 !important; /* Firefox */
            }
            // &::-ms-input-placeholder {
            //     /* Edge 12 -18 */
            //     color: rgb(255, 255, 255) !important;
            // }
        }

        .icon-login {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
    }
}

.background-lg {
    background: linear-gradient(rgba(45, 37, 80, 0) 20%, #0f172a), url('../../assets/images/bg-regis.jpg');
    background-size: cover;
}

.number-chair {
    background-color: aqua;
    border-radius: 5px;
    width: 50px;
}

.button {
    border-radius: 5px;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-style: normal;

    &.b1 {
        background-color: #f3ea28;
        color: black;
        padding: 7px 15px;
    }

    &.avatar-up {
        justify-content: center;
        background-color: #f3ea28;
        padding: 5px;
        color: black;
        width: 100px;
    }

    &.b2 {
        background-color: #663399;
        padding: 7px 15px;
        color: white;
    }

    &.big {
        justify-content: center;
        width: 200px;
        background-color: #f3ea28;
        color: black;
        padding: 10px;
    }

    &.book-now {
        background-color: #f3ea28;
        padding: 5px 15px;
        color: black;
    }

    &.look {
        border: 1px solid #f3ea28;
        color: #f3ea28;
        justify-content: center;
        width: 240px;
        padding: 12px;
        margin: auto;
        background-color: transparent;
        // transition: 0.3s ease-in-out;
    }

    &.look:hover {
        background: linear-gradient(to bottom right, #ff7600, #ffc007);
        color: white;
        // transition: 0.3s ease-in-out;
    }

    &.book {
        background-color: #f3ea28;
        color: black;
        // color: #444866;
        padding-top: 7px;
        padding-bottom: 7px;
        justify-content: center;
        width: 100px;
    }

    &.ticket {
        background-color: #4290bddb;
        padding: 7px 15px;
        color: white;
        // color: rgb(230, 215, 255);
    }

    &.up {
        background: linear-gradient(to bottom right, #caa9ff, #82acff);
        // background: linear-gradient(to bottom right, #d5bcfc, #aec7fa);
        color: black;
        // padding: 7px 15px;
    }

    // &.ticket-no {
    //     border: 1px solid #4290bddb;
    //     padding: 7px 15px;
    //     color: #4290bddb;
    // }
}

.card-film {
    width: 285px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 5px;

    &:hover .sign-age,
    &:hover .big-age {
        transition: transform 0.3s ease-in-out; /* Hiệu ứng chuyển tiếp chỉ cho transform */
    }

    &::before {
        content: '';
        position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
        height: 425px;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.3s ease;
        border-radius: 5px;
    }

    &:hover::before {
        opacity: 1;
    }

    &:hover .main-center {
        top: 45%;
        // visibility: visible;
        opacity: 1;
        transition: 0.3s ease-in-out;
    }
}

.sign-age {
    position: absolute;
    left: 1px;
    top: 1px;
    border-radius: 4px 0 0 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    padding-top: 3px;
    display: flex;
    align-items: center;
    width: auto;
    color: white;
    background-color: #ff0033;
    text-align: center;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.big-age {
    font-family: 'Anton', sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    transform-origin: top !important;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.card-film:hover .sign-age,
.card-film:hover .big-age {
    transform: translateY(-110%);
}

.title-type-film {
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 30px 0;
}

.main-center {
    color: white;
    position: absolute;
    top: 50%;
    left: 15%;
    right: 10%;
    transform: translate(0%, -50%);
    // z-index: 1;
    transition: 0.3s ease-in-out;
    // visibility: hidden;
    opacity: 0;
}

.slider {
    margin: 0 20px;
    overflow: 'hidden';
    padding: 2rem 0;
}

.slider {
    width: 100%;
    border-radius: 10px;
}

.react-multi-carousel-list {
    padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
    border: none;
    background: rgb(134, 134, 134);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
    background: rgb(255, 255, 255) !important;
}

.w-trailer {
    font-family: 'Lexend', sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
}

.font-title {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-main {
    font-family: 'Lexend', sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400 !important;
}

.theater-title1 {
    background: linear-gradient(to bottom right, #4e337a, #264c9a);
    // padding: 30px;
}

.theater-title2 {
    z-index: 100;
    background: linear-gradient(to right, rgba(79, 52, 142, 0.5), rgba(0, 17, 52, 0.5), rgba(22, 82, 202, 0.5));
}

.card-date {
    width: 90px !important;
    height: 120px !important;
    cursor: pointer;
    border-radius: 5px;

    &.yes {
        border: 2px solid #f3ea28;
    }

    &.no {
        border: 1px solid gray !important;
    }
}

.card-head-date {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 2rem;
    background-color: transparent;

    &.yes {
        border-bottom: 2px solid #f3ea28;
        // border-bottom: 2px solid #f3f3f3;
        // background: linear-gradient(to bottom right, #ff7600, #ffc007) !important;
        color: #f3ea28 !important;
    }

    &.no {
        border-bottom: 1px solid gray;
        // background-color: rgba(143, 115, 196, 0.5);
    }
}

.card-body-date {
    font-size: 1.2rem;

    &.yes {
        color: #f3ea28;
    }
}

.time-mini {
    padding: 4px 15px;
    border-radius: 5px;
    position: relative;

    &.yes {
        color: #f3ea28;
        border: 1px solid #f3ea28;
        cursor: pointer;

        &:hover {
            background-color: #f3ea28;
            color: black;
        }
    }

    &.no {
        color: #9f9f9f;
        border: 1px solid #9f9f9f;
        cursor: no-drop;
    }

    &.yes2 {
        color: #021b4e;
        border: 1px solid #021b4e;
        cursor: pointer;

        &:hover {
            background: linear-gradient(to bottom right, #4e337a, #021b4e);
            color: white;
        }
    }

    &.no2 {
        color: #9f9f9f;
        border: 1px solid #9f9f9f;
        cursor: no-drop;
    }

    &.select {
        cursor: pointer;
        background: linear-gradient(to bottom right, #4e337a, #021b4e);
        color: white;
    }
}

.theater-show {
    cursor: pointer;

    &.select {
        border-bottom: 5px solid #f3ea28;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
}

.card-item-schedule {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.icon-color {
    filter: brightness(0) saturate(100%) invert(98%) sepia(80%) saturate(2086%) hue-rotate(336deg) brightness(109%)
        contrast(91%);
    max-height: 2.6rem;
}

.card-date2 {
    width: 65px !important;
    height: 70px !important;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;

    &.yes {
        // border: 2px solid #264c9a;
        background: linear-gradient(to bottom right, #4e337a, #021b4e);
        color: white;
    }

    &.no {
        border: 1px solid gray !important;
    }
}

.card-theater {
    // border: 1px solid black;
    border-radius: 5px;
    background: linear-gradient(to bottom right, #e9dbff, #b7cfff);
}
.seat {
    border-radius: 5px;
    width: 45px;
    height: 35px;
    // margin-left: 2px;
    cursor: pointer;

    &.standard {
        color: #663399;
        // color: #c7c7c7;
        background-color: #ffffff;
    }

    &.vip {
        color: #663399;
        background-color: #9fd539;
        // background-color: #f8f8f8;
    }

    &.couple {
        color: #663399;
        background-color: #dc9bd2;
    }

    &.inaction {
        color: rgb(167, 167, 167);
        // background-color: #b196f5;
        background-color: #0f1b07;
    }

    &.select {
        color: #663399;
        background-color: #f3ea28;
    }

    &.selled {
        color: rgb(167, 167, 167);
        background-color: #48566a;
    }
}

.sticky-bill {
    border-top: 1px solid white;
    background-color: #141831;
    position: sticky;
    bottom: 0;
    z-index: 100000;
}

.text-long {
    white-space: nowrap; // không xuống dòng
    overflow: hidden; // ẩn nội dung bị thừa
    text-overflow: ellipsis; // thêm dấu ... đằng sau
    // max-width: 450px;
}

.card-info-pay {
    background-color: #663399;
}

.card-pay {
    border: 1px solid white;
    border-radius: 5px;
}

.card-dis {
    border-radius: 5px;
    background: linear-gradient(to bottom right, #e9dbff, #b7cfff);
    border: 1px solid #b7cfff;
    padding: 10px;
}

.card-name-dis {
    border-right: 1px solid #96b7f8;
}

.bg-info-user {
    background: linear-gradient(to bottom right, #564372, #37589a);
    padding: 30px;
}

.menu-user {
    background: linear-gradient(to right, rgba(79, 52, 142, 0.2), rgba(22, 82, 202, 0.2));
    cursor: pointer;
    border-bottom: 5px solid transparent;

    &.line {
        border-bottom: 5px solid #f3ea28;
    }
}

.line-bottom {
    border-bottom: 1px solid white;
}

.line-button {
    padding: 10px;
    cursor: pointer;

    &.yes {
        border-radius: 5px 5px 0 0;
        border: 1px solid white;
        border-bottom: none;
        color: #f3ea28;
    }

    &.no {
        border-bottom: 1px solid white;
    }
}

.bg-ticket {
    background-color: #6d598b;
    padding: 10px;
}

.custom-input::placeholder {
    color: white !important;
}
.swal2-container {
    z-index: 10000000000000000 !important;
}

.panigation {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    cursor: pointer;
    margin: 0 2px;

    &:hover {
        background-color: #d2ddf6;
        color: black;
    }

    &.select {
        background-color: #f3ea28;
        color: black;
    }
}

.event-hover {
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.03);
    }
}

.line-clamp-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.chat-container {
    position: fixed;
    right: 30px;
    bottom: 90px;
    width: 350px;
    height: 470px;
    border-radius: 10px;
    background-color: white;
    z-index: 10000;
    transform-origin: bottom right;
}

.chat-container.first {
    display: none;
}

.chat-container.show {
    animation: slide-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

.chat-container.hidden {
    animation: slide-out 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

@keyframes slide-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.inputtext_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inputtext_container textarea {
    width: 80%;
    height: 40px;
    min-height: 40px;
    max-height: 80px;
    padding: 10px 15px;
    border-radius: 50px;
    resize: none;
    border: none;
    background-color: #f0f0f0;
    outline: none;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    // margin-right: 5px;
    font-size: 16px;
    overflow-y: auto;
    transition: height 0.2s ease;
}

.inputtext_container textarea::-webkit-scrollbar {
    display: none;
}

.chats_list {
    height: 78%;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.chats_list::-webkit-scrollbar {
    display: none;
}

.chat_sender {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.chat_sender img,
.chat_receiver img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.chat_sender p {
    padding: 5px 15px;
    background-color: #d8c3f5;
    border-radius: 8px;
    max-width: 60%;
    box-shadow: 1px 1px 3px rgb(181, 181, 181);
}

.chat_receiver {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.chat_receiver p {
    padding: 5px 15px;
    background-color: rgb(219, 219, 219);
    // background-color: rgb(214, 44, 44);
    border-radius: 8px;
    max-width: 60%;
    box-shadow: 1px 1px 3px rgb(181, 181, 181);
}

.header-chat {
    background-color: #352250;
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.info-title-theater {
    position: absolute;
    color: white;
    background-color: #121e6a9f;
    width: 400px;
    padding: 20px;
    bottom: 0;
}

.footer {
    background: linear-gradient(to bottom right, #a977fa, #719df4);
}

.intro {
    background: linear-gradient(rgba(24, 4, 115, 0.441) 20%, #0f172a), url('../../assets/images/ht-qc-br.jpg');
    background-size: cover;
    height: 430px;
}

.nav-item {
    // style={{ cursor: 'pointer', color: 'white', textDecoration: 'none' }}
    cursor: pointer;
    color: white;
    text-decoration: none;

    &.select {
        color: #f3ea28;
        border-bottom: 2px solid #f3ea28;
    }
}

.nav-item:hover {
    color: #f3ea28;
    border-bottom: 2px solid #f3ea28;
}

.backdrop {
    z-index: 10000000;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: all;
}

.no-scroll {
    overflow: hidden;
}
